body {
  font-family: Arial, Georgia, Serif;
  padding: 10px;
  width: 1030px;
}

.page_title, .table_title {
  font-size: 16px;
  font-weight: bold;
}

.table_title {
  font-size: 15px;
}

table.online {
  width: 1030px;
  border-collapse: collapse;
}

.online table, .online th, .online td {
  font-size: 14px;
  border: 1px solid #ddd;
  padding: 5px;
}

.online .description {
  width: 250px;
}

th, td {
  padding: 5px;
  text-align: left;
}

.table_headers td {
  background: #d9d9d9;
}

.customer_filter {
  text-align: right;
}

.modal-body {
  padding: 15px 10px;
  text-align:center;
}

.modal-dialog{
  width: auto;
  margin: 10px auto !important;
  max-width: 450px;
}

table.popup_table {
  font-size: 14px;
  width: 100%;
}

.popup_table td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.row_label {
  width: 100px;
}

.row_value {
  width: auto;
}

.row_input_readonly {
  border: none;
}

.row_value input, .row_input_value{
  width: 100%;
}

.error {
  color: red;
  font-weight: bold;
}

.success {
  color: green;
  font-weight: bold;
}

